#content ul {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

.showcase-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.showcase-item {
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid black;
    background-color: var(--bg-color);
    color: white;
    font-weight: 500;
}

/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .showcase-item {
        padding: 15px 20px;
        font-size: 0.95em;
    }
}

/* mobile */
@media (max-width: 480px) {
    .showcase-links {
        flex-direction: column;
    }

    .showcase-item {
        padding: 12px 15px;
        font-size: 0.9em;
    }
}
